In [2]:
print("hello world")

hello world

In [4]:
import numpy as np
import pandas as pd

In [6]:
len=pd.read_csv("/Users/shrirambhat/Desktop/2data/len.tsv",sep='\t')

In [7]:
mrt_var=pd.read_csv("/Users/shrirambhat/Desktop/2data/mrt_variants.tsv",sep='\t')

In [9]:
for i in len:
	print(i)

isotype
length

In [10]:
len

      isotype  length
0     ECA1555       7
1    BRC20343       4
2     ECA1511       8
3      QG2919       2
4       QG980       4
..        ...     ...
593   ECA2639       5
594    QG2881       8
595    NIC911       5
596    NIC400       9
597    JU2507       4

[598 rows x 2 columns]

In [12]:
len.set_index('isotype')

          length
isotype
ECA1555        7
BRC20343       4
ECA1511        8
QG2919         2
QG980          4
...          ...
ECA2639        5
QG2881         8
NIC911         5
NIC400         9
JU2507         4

[598 rows x 1 columns]

In [22]:
len['length'][2]

8